DATABASE_URL=postgres://username:password@localhost:5432/expense_share_db

# Auth0 Configuration
AUTH0_JWKS_URI=https://YOUR_DOMAIN.auth0.com/.well-known/jwks.json
AUTH0_ROLES_CLAIM=https://YOUR_DOMAIN.com/roles